/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {margin: 0; height: 100%; overflow: hidden} 

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background1{
  background-position: center;
  background-image: url('./Components/assets/background.jpg');
  background-size: cover;
  transition: 0.6 ease-out;
  background-position: bottom;
}

.background2{
  background-position: center;
  background-image: url('./Components/assets/background2.png');
  background-size: cover;
  transition: 0.6 ease-out;
  background-position: bottom;
}

.background3{
  background-position: center;
  background-image: url('./Components/assets/background3.png');
  background-size: cover;
  transition: 0.6 ease-out;
  background-position: bottom;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  min-height: 100vh;
  padding: 25px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.15));
}

/* FIRST PAGE */

.searchBar{
  position: absolute;
  font-size: 25px;
  font-weight: bolder;
  left:40px;
  color: black;

  text-align: center;
  display: block;

  border-radius: 25px;
  width:80%;
  height: 50px;
  margin: 750px 0 0px; 
  padding: 20px;
  border:none;
}

::placeholder {
  font-size: 15px;
  position: absolute;
  left:0;
  width: 100%;
}

.results{
  margin: 0;
  text-align: center;
  padding-top: 33%;
}

.LocationHeader{
  position: absolute;
  width: 100%;
  margin: 20px 0 0px; 
  text-align: center;
  font-size: 50px;
  left:0;
  font-weight: bolder;
  color: white;
}

.rungif{
  position: absolute;
  top: 42%;
  width: 120%;
  text-align: center;
  font-size: 18px;
  right: -40px;
}


.button_going_to_p{
  position: relative;
  border-radius: 50%;
  font-size: small;
}
.button_on_p{
  position: relative;
  border-radius: 50%;
  font-size: small;
  background-color: grey;
}
.button_poss{
  position: absolute;
  top: 86vh;
  left: 44%;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* For additional buttons */
.button_container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 3%;
}

.dropdown{
  display:inline-block;
}

select {
  appearance: none;
  background-color: #ffffff;
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 70px !important;
  width: 100px;

  font-weight: 600;
  text-align: center;
  overflow: auto;
  word-wrap: normal !important;
  white-space: normal;
  vertical-align: top;
}

.temp{
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: -3%;
  margin-top: -6%;
}

.Wdescription{
  color: white;
  font-size: 21px;
  font-weight: 600;
}

.main-cloud-rain{
  margin-top: 8%;
  display: inline-flex;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.main-cloud{
  top: 192px;
  left: 5%;
  position: absolute;
}

.main-rain{
  top: 192px;
  right: 5%;
  position: absolute;
}

.Top3Essentials{
  padding-top: 11%;
  color: white;
}

ul {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 17px;
}



/* SECOND PAGE */

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}



/* THIRD PAGE */

#Injury_And_Prevention,#Links_to_workout_plan,#items_for_clear_and_fewClouds,#items_for_rain_showerRain_andEverythingElse{
  width: 300px;
  border: 15px solid green;
  padding: 15px;
  margin: 20px;
  border-radius: 25px;
  overflow: scroll;
  background-color: transparent;
  border: 1px solid white;
  color: white;

}

#items_for_clear_and_fewClouds{
  
  font-size: 25px;
  height: 160px;
  text-align: center;
}
#items_for_rain_showerRain_andEverythingElse{
  height: 160px;
  font-size: 15px;
  text-align: center;
}
#Injury_And_Prevention{
  position: relative;
  height: 200px;
  font-size: 14px;
  text-align: center;
}

#Links_to_workout_plan{
  position: relative;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  text-align: center;
  height: 120px;
  width: 300px;
  font-size: 15px;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}

#week {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 90px;
  left: 17px;
  border-collapse: separate;
  width: 100%;
  border: 1px solid white;
  color: white;
  border-radius:6px;
  background-color: transparent;
}
#week th{
  font-size: 11px;
  text-align: left;
  padding: 6px;
}
#hourly_w {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 90px;
  border-collapse: separate;
  width: 100%;
  border: 1px solid white;
  color: white;
  border-radius:6px;
  background-color: transparent;
}
#hourly_w td, #hourly_w th {
  padding: 6px;
}
#hourly_w td + td { border-left:2px solid white; }
#hourly_w th + th { border-left:2px solid white; }
.icon {
  height: 30px;
  width: 30px; 
}
.rain {
  position: absolute;
  width: 20%;
  height: auto;
  left: 40%;
  margin-top: 675px;
}
.sunset{
  position: absolute;
  left:82%;
  bottom: 760px;
  color: white;
}
.sunrise{
  position: absolute;
  left:5%;
  bottom: 760px;
  color: white;
}
.page3_title{
  position: relative;
  text-align: center;
  padding-top: 23px;
  color: white;
}
.page3_title h1{
  font-size: 50px;
  font-weight: bolder;
}
.icon_c{
  position: absolute;
  top: 115px;
  left: 130px;
}