*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background1
{
  background-position: center;
  background-image: url('./Components/assets/background.jpg');
  background-size: cover;
  transition: 0.6 ease-out;
  background-position: bottom;

}
.background2
{
  background-position: center;
  background-image: url('./Components/assets/background2.png');
  background-size: cover;
  transition: 0.6 ease-out;
  background-position: bottom;

}
.background3
{
  background-position: center;
  background-image: url('./Components/assets/background3.png');
  background-size: cover;
  transition: 0.6 ease-out;
  background-position: bottom;

}
html, body {margin: 0; height: 100%; overflow: hidden}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  min-height: 100vh;
  padding: 25px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.15));
}
.searchBar{
  position: absolute;
  font-size: 25px;
  font-weight: bolder;
  left:40px;
  color: black;

  text-align: center;
  display: block;

  border-radius: 25px;
  width:80%;
  height: 50px;
  margin: 750px 0 0px; 
  padding: 20px;
  border:none;
}
::placeholder {
  font-size: 15px;
  position: absolute;
  left:0;
  width: 100%;
  
}
.results{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.LocationHeader{
  position: absolute;
  width: 100%;
  margin: 50px 0 0px; 
  text-align: center;
  font-size: 50px;
  left:0;
  font-weight: bolder;
  color: white;



}
.rungif{
  position: absolute;
  top: 40%;
  width: 120%;
  text-align: center;
  font-size: 18px;
  right: -40px;

}

.dot {
  position: absolute;
  width: 20%;
  height: auto;
  left: 40%;
  margin-top: 675px;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
#Injury_And_Prevention,#Links_to_workout_plan{
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
  border-radius: 25px;

}